<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="/static/favicon.ico" rel="icon">
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body> 
    <div class="game-container">
        <div class="title-container">
            <h1>Find The Word!</h1>
        </div>

        <div class="message-container">
            Messages go here
        </div>

        <div class="guess-grid-container">
            <div class="guess-grid">
            {% for guess in range(num_guesses) %}
                <div class="guessRow" id="attempt-{{guess}}">
                {% for letter in range(num_letters) %}
                    <div class="tile" id="tile-{{letter}}">
                        <b>{{tiles[guess][letter]}}</b>
                    </div>
                {% endfor %}    
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div class="keyboard-container">
            {% for row in keys %}
            <div class="keyboard-row">
                {% for key in row %}
                    {% if key == ' ' %}
                    <div class="spacer"></div>
                    {% elif key == "Enter" or key == "Back" %}
                    <button class="key large" data-key="{{key}}">{{key}}</button>
                    {% else %}
                    <button class="key" data-key="{{key}}">{{key}}</button>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- <script src="app.js"></script> -->

</body>
</html>