{% extends "layout.html" %}

{% block title %}
Word Guessr
{% endblock %}

{% block javascript %}
<script src="/static/app.js" defer></script>
<!-- Pass in variables from Flask server to JS -->
<script type="text/javascript">
    const NUM_LETTERS = parseInt('{{ num_letters | tojson}}')
    const NUM_GUESSES = parseInt('{{ num_guesses | tojson}}')
    let wordle = '{{wordle}}'
</script>
{% endblock %}

{% block headerleft %}
<button class="menu-button menu-header" id="sidebar-button" data-state="closed">
    Menu
</button>
{% endblock %}

{% block headerright %}
<button class="menu-button menu-header" id="play-button" style="display: none;">
    Play again?
</button>
{% endblock %}

{% block main %}
<div class="sidebar" id="sidebar" style="display: none;">
    <div class="menu-item">
        <b>Board options</b>
        <form class="board-options" id="board-options" action="/" method="post">
            <div>
                <span>
                    Rows: <span id="guess-val">0</span>
                </span>
                <input class="num-slider" id="guess-range" name="guesses" type="range" min="3" max="8" step="1"
                    value="{{num_guesses}}">
            </div>
            <div>
                <span>
                    Letters: <span id="letter-val">0</span>
                </span>
                <input class="num-slider" id="letter-range" name="letters" type="range" min="4" max="7" step="1"
                    value="{{num_letters}}">
            </div>

        </form>
        <button class="menu-button btn-submit" form="board-options" type="submit">Submit</button>
    </div>

    <div class="menu-item">
        <b>Share score</b>
        <button class="menu-button" type="button" id="share-result">
            Share
        </button>
    </div>

    <div class="menu-item">
        <b>Use dark mode</b>
        <input type="checkbox" id="switch-theme">
        <label for="switch-theme">Toggle theme</label>
    </div>
</div>

<div class="guess-grid-container">
    <div class="guess-grid">
        {% for guess in range(num_guesses) %}
        <div class="guess-row" id="guess-{{guess}}">
            {% for letter in range(num_letters) %}
            <div class="tile" id="tile-{{guess}}-{{letter}}">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="keyboard-container">
    {% for row in keys %}
    <div class="keyboard-row">
        {% for key in row %}
        {% if key == ' ' %}
        <div class="spacer"></div>
        {% elif key == "Enter" or key == "Back" %}
        <button class="key large" data-key="{{key}}">{{key}}</button>
        {% else %}
        <button class="key" data-key="{{key}}">{{key}}</button>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}