{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block javascript %}
<script src="/static/register.js" defer></script>
{% endblock %}

{% block main %}
<div class="form-container">
    <div>
        <strong>Register to save results, view stats & more!</strong>
    </div>
    <form action="/register" method="post" id="register"></form>
    <input form="register" autocomplete="off" autofocus class="" id="username" name="username" placeholder="Username"
        type="text">
    <input form="register" autocomplete="off" autofocus class="" id="email" name="email" placeholder="Email"
        type="email">
    <input form="register" class="" id="password" name="password" placeholder="Password" type="password">
    <input form="register" class="" id="confirmation" name="confirmation" placeholder="Password (again)"
        type="password">
    <button form="register" class="menu-button" type="submit">Register</button>
</div>
{% endblock %}